option_settings:
    "aws:elasticbeanstalk:container:python":
        WSGIPath: application:application




# this file is required kyuki jb pipeline ke through bean stalk main bejenge
# tbh woh toh linux machine hai, toh waha python environment banane ke liye
# python.config file ki zarurat hai



#✅ What this means — In Beginner Language:
#When you deploy a Python web app (like Flask or Django) to AWS Elastic Beanstalk, AWS needs to know:

#🧠 "Where is your app’s main entry point?"
#This is the file and function it should run to start your web server.

